
  
  text-box {
    text-align: center;
  }
  
.card{
  margin: 10px;

}
.marketContainer{
  display: grid;
  grid-template-columns: repeat(auto-fill, 345px);
  grid-auto-rows: auto;
}
.pageController{
  text-align: center;
  margin: 20px;
}
.morenft{
  overflow-y: auto;
}