@import url('https://fonts.googleapis.com/css2?family=Outfit');


:root {
  font-family: Outfit;
}

body {
  margin: 0;
  font-family: Outfit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FCFCFC;
  ;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
