
.bannercard {
  width: 70%;
  height: 300px;
  margin-bottom: 1.5em;
  margin-left: 5%;
  margin-top: 2%;
border-radius: 10px;
}
.content{
/*   display:flex;
  flex-direction:column;
  justify-content: center;
  align-content:center;
  align-items:center; */
  padding-top:100px;
}

 h1{
  text-align:center;
}
.btn-cont {
  flex:1;
  display:flex;
   flex-direction:row;
  justify-content:center;
}
.btn-cont button{
  width:100px;
  height:50px;

}
/* image background */
#imageonly {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/confectionary.png);

}

