.letswork{
  min-width: 320px;
  max-width: 500px;
}
.likebutton{
  margin-left: 60%;
}

.price{
  margin-top: -8.5%;
  margin-left: 8%;
  font-size: 18px;
}

.bottombuttons{
  margin-top: -10%;
}

.eth{
  margin-top: -11%;
}

.buynouser{
  margin-left: 5%;
  margin-bottom: 50%;
}