.letswork{
  min-width: 320px;
  max-width: 500px;
}
.likebutton{
  margin-left: 60%;
}

.price{
  margin-top: -12%;
  font-size: 18px;
}

.bottombuttons{
  margin-top: -14%;
}

.eth{
  margin-top: -8%;
}

.buynouser{
  margin-left: 5%;
  margin-bottom: 50%;
}

.buypiece{
  margin-top: -18%;
}