.newnft{
  margin-left: 4%;
  margin-top: 5%;
}
.inputnft {
  margin-left: 70%;
}

.inputtext{
  margin-left: 70%;
}
.filedrop{
  width: 80%;
  margin-bottom: 20%;
  margin-top: -25%;

}
.filepond--wrapper {
  margin-bottom: -20%;
}
