.Recentsale {
margin-left: -05%;
height: 113%;
width: 120%;
margin-bottom: 5%;
border-radius: 5px;
background-color: white;
}

.Recentsale h2 {
  text-align: left;
  margin-left: 30%;
  margin-top: -10%;
}

.Recentsale p {
  text-align: left;
  margin-left: 30%;
  margin-top: -5%;
  
}

.Recentsale h3 {
  text-align: left;
  margin-left: 80%;
  margin-top: -5%;
}

.image1{
  height: 100%;
  width: 35%;
  
}
.props {
  margin-bottom: 18%;
  margin-top: -32%;
  margin-left: 15%;
}

.Recentsale  img {
  border-radius: 5px;
  max-width: 100%;
  max-height: auto;
}