.imgblock{
  border: 1px solid black;
  float: right;
  width: 50%;
  height: 937px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.formreg{
  margin-left: 15%;
  margin-top: 10%;
  float: left;
  text-align: center;
  width: 18%;
  height: 435px;
  border: 1px solid black;
  background-color: #f7f9fa;
  border-radius: 10px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.formreg > h1 {
  text-align: center;
  margin-left: -2%;
}

.formreg > button {
  width: 200px;
}