.avataricon{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -5%
;}

.avatarname{
  display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -10%;
}

.avataremail{
  display: flex;
  align-items: center;
  justify-content: center;
}

.overall{
  
}

.details{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 15%;
  margin-top: -15%;
}

.editprofile{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: -15%;
}